.dart_tool/
build/
.packages
.pub-cache/
.pub/
*.iml
.idea/
.vscode/
*.lock
.flutter-plugins
.flutter-plugins-dependencies
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
*.xcworkspace
*.xcuserdata
macos/Pods/
android/.gradle/
android/app/build/
android/local.properties
.DS_Store
*.swp
*.swo
